/* Body */
body {
    padding: 20px;
}

/* Typography */
body {
    font-family: 'Courier New', Courier, monospace;
}
h1 { font-weight: 600; font-size: 200%; margin-bottom: 20px; }
h2 { font-weight: 600; font-size: 180%; margin-bottom: 18px; }
h3 { font-weight: 600; font-size: 160%; margin-bottom: 16px; }
h4 { font-weight: 600; font-size: 140%; margin-bottom: 14px; }
h5 { font-weight: 600; font-size: 120%; margin-bottom: 12px; }
h6 { font-weight: 600; font-size: 100%; margin-bottom: 10px; }

/* Forms */
label.form-field {
    margin-bottom: 20px;
    display: block;
}
label.form-field div {
    font-weight: bold;
}

/* Tables */
table {
    text-align: left;
    border: 1px solid black;
    border-collapse: collapse;
    margin: 20px 0;
}
table th, td {
    padding: 5px;
    border: 1px solid black;
}
table th {
    font-weight: bold;
    background: gainsboro;
}

/* Navigation */
ul.action-menu {
    list-style-type: none;
    margin: 0;
    padding: 0;
    margin-bottom: 10px;
}
ul.action-menu li {
    display: inline-block;
}
ul.action-menu li button {
    width: 60px;
}
